@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
  /* For smaller screens */
  .contents,
  .desc_text,
  .desc_img,
  .content_cover,
  footer {
    width: 100%;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cover_bg {
  background-image: url(../imgs/cover_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

.content_cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  margin: 0 auto;
}

.content_cover .cover_note {
  text-align: center;
  width: 225px;
  height: 75px;
  background: #cc3e0f, #931b00;
  background: -webkit-linear-gradient(90deg, #cc3e0f 0%, #931b00 100%);
  background-image: -ms-linear-gradient(90deg, #cc3e0f 0%, #931b00 100%);
}

.content_cover .cover_note p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 42.567px;
  text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  line-height: 0;
  color: #fff;
  transform: matrix(1.17461, 0, 0, 1.17461, 0, 0);
  -moz-transform: matrix(1.17461, 0, 0, 1.17461, 0, 0);
  -webkit-transform: matrix(1.17461, 0, 0, 1.17461, 0, 0);
  -ms-transform: matrix(1.17461, 0, 0, 1.17461, 0, 0);
}

.content_cover .ribbon_effect {
  position: relative;
  bottom: 10px;
  width: 100%;
  float: left;
}

.content_cover .ribbon_effect .ribbon_down {
  float: left;
  width: 0;
  height: 0;
  border-left: 112.5px solid transparent;
  border-right: 112.5px solid transparent;
  border-top: 20px solid #cc3e0f;
}

.content_cover .cover_text {
  width: 100%;
}

.content_cover .coverHeaderTransf {
  font-size: 10px;
  position: absolute;
  top: 14px;
  left: -4px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -o-transform: rotate(-65deg);
}

.content_cover .cover_header {
  position: relative;
  width: 100%;
  margin-top: 80px;
  font-size: 50px;
  font-family: "Bienetresocial";
  line-height: 0;
}

.content_cover .cover_para {
  float: left;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #222222;
  text-shadow: 4px 2px 4px #fff;
  line-height: 1.5;
  width: 60%;
}

.content_cover .cover_glow {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.goto_accord {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 100px;
}

.goto_accord p {
  float: left;
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #a62300;
  font-weight: bold;
  line-height: 0.7;
  text-shadow: 0.707px 0.707px 1px rgba(255, 255, 255, 0.004);
}

.goto_accord p .goto_accord_arrow {
  margin-right: 10px;
  float: left;
  width: 25px;
  height: 30px;
}

.description {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.description .desc_text {
  width: 100%;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.description .desc_text .desc_para {
  line-height: 1.5;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.description .desc_text .desc_para .desc_sentence {
  line-height: 1.5;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #951c00;
  text-decoration: underline;
  font-weight: bold;
}

.description .desc_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.description .desc_img img {
  padding-left: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 500px;
  max-height: 200px;
  margin-bottom: -30px;
  z-index: -1;
}

.contents, .content_cover, .footer_text {
  max-width: 750px;
}

.contents {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.contents .doneBtnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contents .doneBtnDiv .doneButton {
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 0.8;
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #7b1700;
  border-radius: 6px;
  background: #b72a00;
  background: -ms-linear-gradient(90deg, #b72a00 0%, #951c00 100%);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
          box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
  color: #e2e2e2;
  position: relative;
  padding: 20px 0;
  margin: 20px 0;
  width: 150px;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  font-size: 30px;
  border: 1px solid #999999;
  border-radius: 6px;
  background: #b1b1b1;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
          box-shadow: inset 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
}

.contents .doneBtnDiv .doneBtnReady {
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 0.8;
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #7b1700;
  border-radius: 6px;
  background: #b72a00;
  background: -ms-linear-gradient(90deg, #b72a00 0%, #951c00 100%);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
          box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
}

.contents .accord_head .accord_head_h {
  font-family: "BienetresocialBold";
  font-size: 30px;
  color: #3f2916;
  line-height: 0.7;
}

.contents .accord_head .accord_head_p {
  font-family: "PT Sans Narrow", sans-serif;
  color: #222222;
  line-height: 1.5;
  font-size: 16px;
}

footer {
  z-index: 2;
  background-color: #3b3530;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
}

footer .footer_text {
  width: 100%;
  padding: 25px 0;
  font-family: "PT Sans Narrow", sans-serif;
}

footer .footer_text a {
  color: #ffe756;
  text-decoration: underline;
  cursor: pointer;
}

footer .footer_text p {
  color: #fff;
  font-size: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Accordion clickable panel style */
.accordion {
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 25px 0 0 0;
  border-bottom: 1px solid #ffe756;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion:hover {
  background-color: #ccc;
}

.accordion .accord_panel_header {
  font-family: "BienetresocialBold";
  font-size: 20px;
  color: #3f2916;
  padding: 10px;
  position: relative;
  left: -1%;
  font-weight: bold;
  border: 1px none;
}

.accordion .selected_themes {
  color: #3f2916;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  line-height: 0.875;
  padding: 10px;
}

.accordion .selected_themes span {
  padding: 0;
}

.accord_panel_header_active {
  border: px solid #ffeb6b;
  border-radius: 10px 10px 0 0;
  display: block !important;
  background: #ffeb6b;
  background: -ms-linear-gradient(90deg, #ffef80 0%, #ffe756 100%);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 231, 86, 0.75);
          box-shadow: inset 0px 1px 1px 0px rgba(255, 231, 86, 0.75);
}

.accord_show {
  /* Important - Accordion panel has display:none, this class will negate that and show the panel with JS */
  display: block !important;
}

.goto_accord {
  cursor: pointer;
}

/* Sliding content style */
.accord_panel {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ffe756;
  /* For JS accordion */
  display: none;
}

.accord_panel .theme_change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accord_panel .theme_change .next_theme {
  margin-top: 20px;
  width: 220px;
  padding: 20px 10px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 0.8;
  font-size: 30px;
  font-family: "PT Sans Narrow", sans-serif;
  text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #7b1700;
  border-radius: 6px;
  background: #b72a00;
  background: -ms-linear-gradient(90deg, #b72a00 0%, #951c00 100%);
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
          box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
}

.accord_content {
  border-bottom: 1px solid #ffe756;
  padding: 10px 0 10px 35px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* custom checkmark */
  /* hides browser's default checkbox */
  /* on checkmark hover, make background gray */
  /* when checked, give it yellow background */
}

.accord_content .accord_content_img {
  margin-left: 30px;
  width: 84px;
  height: 84px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.accord_content .accord_content_text {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  margin-left: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.accord_content .accord_content_text .accord_content_text_head {
  font-weight: bold;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: -10px;
}

.accord_content .accord_content_text .accord_content_text_para {
  line-height: 1.5;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 25px;
}

.accord_content .checkmark {
  margin-left: 20px;
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25px;
  width: 25px;
  border-top: 2px solid #787878;
  border-left: 2px solid #b3b3b3;
  border-right: 2px solid #b3b3b3;
  border-bottom: 2px solid #dbdbdb;
  background-color: #efefef;
  /* checkmark indicator style */
}

.accord_content .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.accord_content .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 1px solid #3f2916;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accord_content input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* show the checkmark when checked */
}

.accord_content input:checked ~ .checkmark:after {
  display: block;
}

.accord_content:hover input ~ .checkmark {
  background-color: #ccc;
}

.accord_content input:checked ~ .checkmark {
  background-color: #fff6bf;
  border: 1px solid #f0ce00;
}
/*# sourceMappingURL=style.css.map */