// x/3 selected themes font
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
    box-sizing: border-box;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .contents, .left, .right, .desc_text, .desc_img, .content_cover, footer {
      width: 100%;
      font-size: 3.5vw;
    }

    .accord_panel {
        .theme_change {   
            button {
                left: 30%;
            }
        }
    }
  }

@mixin side-space {
    padding:20px;
    float:left;
    width:30%;
}

@mixin redButton {
    color: #fff;
    position: relative;
    margin-bottom: 20px;

    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);

    border: 1px solid rgb(123, 23, 0);
    border-radius: 6px;
    
    background: rgb(183,42,0);
    background: -moz-linear-gradient(90deg, rgba(183,42,0,1) 0%, rgba(149,28,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(183,42,0,1) 0%, rgba(149,28,0,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(183,42,0,1) 0%, rgba(149,28,0,1) 100%);
    box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
}


.left {
    @include side-space;
}

.right {
    @include side-space;
}

.cover_bg {
    background-image: url(/imgs/cover_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}

.content_cover {
    float: left;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;



    .cover_note {
        
        float:left;
        text-align: center;
        width: 225px;
        height: 75px;      

        background: rgb(204, 62, 15), rgb(147, 27, 0);
        background: -moz-linear-gradient( 90deg, rgb(204, 62, 15) 0%, rgb(147, 27, 0) 100%);
        background: -webkit-linear-gradient( 90deg, rgb(204, 62, 15) 0%, rgb(147, 27, 0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(204, 62, 15) 0%, rgb(147, 27, 0) 100%);

        p {
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 42.567px;
            text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);
            font-weight: bold;
            line-height: 0;
            color: rgb(255, 255, 255);

            transform: matrix(1.17461408039124,0,0,1.17461408039124,0,0);
            -moz-transform: matrix( 1.17461408039124,0,0,1.17461408039124,0,0);
            -webkit-transform: matrix( 1.17461408039124,0,0,1.17461408039124,0,0);
            -ms-transform: matrix( 1.17461408039124,0,0,1.17461408039124,0,0);
        }
    }

    .ribbon_effect {
        position: relative;
        bottom: 10px;
        width: 100%;
        float:left;

        .ribbon_down {
            float:left;
            width: 0; 
            height: 0; 
            border-left: 112.5px solid transparent;
            border-right: 112.5px solid transparent;
            
            border-top: 20px solid rgb(204, 62, 15);
        }
    }


    .cover_main {
        float: left;
        width: 40%;

        .cover_text {
            float: left;
            width: 100%;

            .cover_header {
                width: 100%;
                float: left;
                margin-top: 80px;
                font-size: 5.5vw;
                font-family: "Bienetresocial";

                line-height: 0;
            }
    
            .cover_para {               
                float: left;
                font-size: 20px;
                font-family: 'PT Sans Narrow', sans-serif;
                color: rgb(34, 34, 34);
                line-height: 1.5;
                text-shadow: 0.707px 0.707px 1px rgba(255, 255, 255, 0.004);
                width: 60%;

                opacity: 0.89;

                
            }

            .cover_glow {
                background-color: #fff;
                width: 100%;
                height: 100%;
            }

            /* glow machine broke
            .cover_glow {
                background-image: url(/imgs/cover_glow.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                width: 100%;
            }
            */

        }

        .goto_accord {
            float: left;
            width: 100%;
            align-content: center;
            
            p {
                float: left;
                font-size: 30px;
                font-family: 'PT Sans Narrow', sans-serif;
                color: rgb(166, 35, 0);
                font-weight: bold;
                line-height: 0.7;
                text-shadow: 0.707px 0.707px 1px rgba(255, 255, 255, 0.004);

                .goto_accord_arrow {
                    margin-right: 10px;
                    float: left;
                    width: 25px;
                    height: 30px;
                }

            }
        }

    }
}

.contents {
    float: left;
    width: 40%;

    .desc_text {
        padding:20px;
        float:left;
        width:70%;

        @mixin description_decoration {
            line-height: 1.5;
            font-size: 20px;
            font-family: 'PT Sans Narrow', sans-serif;
        }

        .desc_para {
            @include description_decoration;

            .desc_sentence {
                @include description_decoration;
                color: rgb(149, 28, 0);
                text-decoration: underline;
                font-weight: bold;
            }
        }
      }
    
    .desc_img {
        padding:20px;
        float:left;
        width:30%;

        img {
            max-width:100%;
            height:auto;
        }
    }

    .content_btn_spacing {
        width: 35%;
        float: left;
        padding:20px;
    }

    .valmis_btn_spacing {
        width: 30%;
        float: left;
        

        .valmis_button {
            color: #e2e2e2;
            padding: 20px 10px;
            margin-bottom: 20px;
            width: 100%;
    
            font-weight: bold;
            line-height: 0.8;
            text-align: center;
            font-size: 30px;
            font-family: 'PT Sans Narrow', sans-serif;
            text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);
    
            border: 1px solid #999999;
            border-radius: 6px;
            background: #b1b1b1;
            box-shadow: inset 0px 1px 1px 0px rgba(192, 192, 192, 0.75);
        }

            // gets applied to "Valmis!" button when atleast 1 checkbox is checked in every accordion block
    ._valmis {
        padding: 15px 45px;
        @include redButton;
    }
    }



    .accord_head {

        .accord_head_h {
            font-family: "BienetresocialBold";
            font-size: 30px;
            color: rgb(63, 41, 22);
            line-height: 0.7;
        }
        
        .accord_head_p {
            font-family: 'PT Sans Narrow', sans-serif;
            color: rgb(34, 34, 34);
            line-height: 1.5;
            font-size: 16px;
        }
    }

}

  footer {
    background-color: rgb(59, 53, 48);
    float: left;
    width: 100%;

    .footer_text {
        float: left;
        width: 40%;
        padding: 25px 0;

        font-family: 'PT Sans Narrow', sans-serif;

        a {
            color: #ffe756;
        }
    
        p {
            color: #fff;
            font-size: 16px;
        }

    }


}

/* Accordion clickable panel style */
.accordion {
    width:100%;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 25px 0 0 0;
    border-bottom: 1px solid rgb(255, 231, 86);
    
    &:hover {
        background-color: #ccc;
    }

   .accord_panel_header {
        font-family: sans-serif;
        font-family: "BienetresocialBold";
        font-size: 20px;
        color: rgb(63, 41, 22);
        line-height: 1.05;
        padding: 10px;
        position: relative;
        left: -1%;
        float: left;
        font-weight: bold;
    }
    
    // Opened accordion span header will have yellow-ish background
    .accord_panel_header_active {
        border: 1px solid #ffeb6b;
        border-radius: 10px 10px 0 0;

        background: rgb(255,235,107);
        background: -moz-linear-gradient( 90deg, rgba(255,235,107,1) 0%, rgba(255,239,128,1) 100%);
        background: -webkit-linear-gradient( 90deg, rgba(255,235,107,1) 0%, rgba(255,239,128,1) 100%);
        background: -ms-linear-gradient( 90deg, rgba(255,235,107,1) 0%, rgba(255,239,128,1) 100%);
    }

    .selected_themes {
        float:right;
        color: #3f2916;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 24px;
        line-height: 0.875;
        padding: 10px;
    }
}

/* Important - Accordion panel has display:none, this class will negate that and show the panel with JS */
.accord_show {
    display: block !important;
}
/* Sliding content style */
.accord_panel {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    border-bottom: 2px solid #ffe756;

    /* For JS accordion */
    display:none;

    .theme_change {
        width: 30%;
        float: left;
        align-content: center;
        margin: 0;
        position: inherit;

        .next_theme {
            line-height: 0;
            width: 100%;
            padding: 20px 10px;
            @include redButton;
        }
    }

    .accord_content {
        float: left;
        border-bottom: 2px solid #ffe756;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        margin: 20px 0 20px 0;

        padding-left: 35px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .accord_content_text {
            font-family: 'PT Sans Narrow', sans-serif;
            text-align: justify;
            position: relative;
            left: 5%;
            
            height: 100%;
            width: 70%;
            
            .accord_content_text_head {
                font-weight: bold;
                position: relative;
                float: left;
                width: 60%;
            }

            .accord_content_text_para {
                float: left;
            }

            .accord_content_img_box {
                float: left;
                width: 10%;
                height: 50%;

                .accord_content_img {
                    margin-left: 0px;
                    width: 100px;
                    height: 100px;
                }
    
            }



        }
        

        
        /* custom checkmark */
        .checkmark {
            position: absolute;
            top: 35%;
            left: 0%;
            height: 25px;
            width: 25px;
            border-top: 2px solid #787878;
            border-left: 2px solid #b3b3b3;
            border-right: 2px solid #b3b3b3;
            border-bottom: 2px solid #dbdbdb;
            background-color: #efefef;
    
            &:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* checkmark indicator style */
            &:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: 1px solid #3f2916;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
         }
        
        /* hides browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            /* show the checkmark when checked */
            &:checked ~ .checkmark:after {
                display: block;
            }
        }

        /* on checkmark hover, make background gray */
        &:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* when checked, give it yellow background */
        input:checked ~ .checkmark {
            background-color: #fff6bf;
            border: 1px solid #f0ce00;
        }

    }
}
