/* Accordion clickable panel style */
.accordion {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 25px 0 0 0;
    border-bottom: 1px solid $color-accordion-yellow;
    padding-bottom: 0px;
    justify-content: space-between;

    @include displayFlexRow;

    &_show {
        /* Important - Accordion panel has display:none, this class will negate that and show the panel with JS */
        display: block !important;
    }

    &:hover {
        background-color: $color-gray;
    }

    &_header {
        font-family: $font-family-secondary;
        font-size: $font-size-regular;
        color: $color-panel-brown;
        padding: 10px;
        position: relative;
        left: -1%;
        
        @include boldFont;
        /* to counter the 1px from the active class */
        border: 1px none;
    }

    /* Opened accordion span header will have yellow-ish background */
    &_header-active {
        border: 1px solid $color-panel-yellow;
        border-radius: 10px 10px 0 0;
        display: block !important;

        /* special coloring */
        background: $color-panel-yellow;
        background: -moz-linear-gradient(90deg, rgb(255, 239, 128) 0%, rgb(255, 231, 86) 100%);
        background: -webkit-linear-gradient(90deg, rgb(255, 239, 128) 0%, rgb(255, 231, 86) 100%);
        background: -ms-linear-gradient(90deg, rgb(255, 239, 128) 0%, rgb(255, 231, 86) 100%);
        box-shadow: inset 0px 1px 1px 0px rgba(255, 231, 86, 0.75);
    }
}

.intro {

    &_title {
        font-family: $font-family-secondary;
        font-size: $font-size-big;
        color: $color-panel-brown;
        line-height: $line-height-smaller;

        @include boldFont;
    }

    &_text {
        font-family: $font-family-primary;
        color: $color-cover-font;
        line-height: $line-height-big;
        font-size: $font-size-small;
    }
}

.selected_themes {
    color: $color-panel-brown;
    font-family: $font-family-primary;
    font-size: 24px;
    line-height: 0.875;
    padding: 10px;

    span {
        padding: 0;
    }
}

/* Sliding content style */
.panel {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    overflow: hidden;
    border-bottom: 1px solid $color-accordion-yellow;

    /* For JS accordion */
    display: none;

    &_next {
        display: flex;
        justify-content: center;
    }
}

.next_theme {
    margin-top: 20px;
    width: 220px;
    padding: 20px 10px;

    @include redButton;
}

.panel_content {
    border-bottom: 1px solid $color-accordion-yellow;
    padding: 10px 0 10px 35px;
    position: relative;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include displayFlexRow;

    &_div_img {
        margin-left: 30px;
        width: 84px;
        height: 84px;
        flex-grow: 1;
        flex-basis: auto;
    }

    &_text {
        font-family: $font-family-primary;
        text-align: justify;
        margin-left: 20px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        &_title {
            flex-basis: auto;
            flex-grow: 1;
            margin-bottom: -10px;

            @include boldFont;
        }

        &_description {
            line-height: $line-height-big;
            flex-basis: auto;
            flex-grow: 1;
            padding-right: 25px;
        }
    }

    /* hides browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;

        /* show the checkmark when checked */
        &:checked~.checkmark:after {
            display: block;
        }
    }

    /* on checkmark hover, make background gray */
    &:hover input~.checkmark {
        background-color: $color-gray;
    }

    /* when checked, give it yellow background */
    input:checked~.checkmark {
        background-color: $color-checkmark-checked;
        border: 1px solid $color-checkmark-checked-border;
    }

    /* custom checkmark */
    .checkmark {
        margin-left: 20px;
        position: absolute;
        top: 40%;
        left: 0%;
        height: 25px;
        width: 25px;
        border: 2px solid;
        border-color: $color-checkmark-border-top $color-checkmark-border-right $color-checkmark-border-bottom $color-checkmark-border-left;
        background-color: $color-checkmark-background;


        /* checkmark indicator style */
        &:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: 1px solid $color-panel-brown;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            position: absolute;
            display: none;
        }
    }
}


.btn-wrapper {
    display: flex;
    justify-content: center;

    .btn {
        @include redButton;

        line-height: $line-height-regular;
        text-align: center;
        font-size: $font-size-big;
        position: relative;
        padding: 20px 0;
        margin: 20px 0;
        width: 150px;
    }

    /* gets applied to "Valmis!" button when atleast 1 checkbox is checked in every accordion block */
    .btn-disabled {
        color: $color-btn-font;
        border: 1px solid $color-darkgray;
        border-radius: 6px;
        background: $color-btn-background;
        box-shadow: inset 0px 1px 1px 0px rgba(192, 192, 192, 0.75);

        @include boldFont;
    }
}



.accordionInput[disabled] {
    cursor: not-allowed;
}

.checkbox-disabled {
    cursor: not-allowed;
    background-color: $color-gray;
}