.description {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;

    .desc_text {
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-flow: row wrap;

        @include mobileView;
        @include description_decoration;

        .desc_para {
            flex-grow: 3;

            @include description_decoration;

            .desc_sentence {
                color: #951c00;
                text-decoration: underline;
                
                @include boldFont;
                @include description_decoration;
            }
        }
    }

    .desc_img {
        @include mobileView;
        @include displayFlexRow;

        img {
            padding-left: 40px;
            align-self: flex-end;
            max-width: 500px;
            max-height: 200px;
            margin-bottom: -30px;
            z-index: -1;
        }
    }
}