.description {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;

    &_text-wrapper {
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-flow: row wrap;
    }

    &_text {
        flex-grow: 3;

        span {
            color: $color-description-red;
            text-decoration: underline;
            
            @include boldFont;
        }
    }

    &_img {
        @include displayFlexRow;

        img {
            padding-left: 40px;
            align-self: flex-end;
            max-width: 500px;
            max-height: 200px;
            margin-bottom: -30px;
            z-index: -1;
        }
    }
}

.description_text-wrapper, .description_text, .description_text span {
    @include description_decoration;
}