footer {
    z-index: 3;
    background-color: #3b3530;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;

   
    @include displayFlexColumn;
    @include mobile {
        padding: 0px 25px;
        width: 100%;
        float: none;
        @include displayFlexColumn;
        justify-content: center;
        align-items: center;
    };
    

    &_text {
        width: 100%;
        padding: 25px 0;

        font-family: $font-family-primary;

        a {
            color: #ffe756;
            text-decoration: underline;
            cursor: pointer;
        }

        p {
            color: $color-white;
            font-size: $font-size-small;
        }
    }
}