@mixin displayFlexColumn {
    display: flex;
    flex-flow: column wrap;
}

@mixin displayFlexRow {
    display: flex;
    flex-flow: row nowrap;
}

@mixin redButton {
    color: $color-white;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 0.8;
    font-size: $font-size-big;
    font-family: $font-family-primary;
    text-shadow: -0.707px -0.707px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #7b1700;
    border-radius: 6px;

    background: #b72a00;
    background: -moz-linear-gradient(90deg, rgba(183, 42, 0, 1) 0%, rgba(149, 28, 0, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(183, 42, 0, 1) 0%, rgba(149, 28, 0, 1) 100%);
    background: -ms-linear-gradient(90deg, rgba(183, 42, 0, 1) 0%, rgba(149, 28, 0, 1) 100%);
    box-shadow: inset 0px 1px 1px 0px rgba(197, 82, 48, 0.75);
}

@mixin description_decoration {
    line-height: 1.5;
    font-size: $font-size-regular;
    font-family: $font-family-primary;
}

@mixin mobile {
    @media only screen and (max-width:790px) {
        @content;

        /* 
        padding: 0px 25px;
        width: 100%;
        float: none;
        @include displayFlexColumn;
        justify-content: center;
        align-items: center;
        */
    }
    
}

@mixin boldFont {
    font-weight: bold;
}
