/* sass variables */
/* x/3 selected themes font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

$color-white: #fff;
$color-gray: #ccc;
$color-black: #000;
$color-black222: #222;
$panel-yellow: #ffeb6b;
$panel-brown: #3f2916;
$accordion-yellow: #ffe756;
$achor-red: #a62300;

$line-height-big: 1.5;
$line-height-regular: 0.8;
$line-height-smaller: 0.7;

$fontSans: 'PT Sans Narrow',sans-serif;


// font sizes
$font-size-verybig: 100px;
$font-size-big: 30px;
$font-size-regular: 20px;
$font-size-small: 16px;


